
/*@import "./node_modules/@fontsource/iosevka/index.css";*/
@import "https://unpkg.com/@fontsource/iosevka@4.5.4/index.css";

/* EDIT THIS */
:root {
    font-size: 31.90px;
    --rows:2;
    --main_bg: #202020;
    --main_fg: #cececf;
    --secondary_fg: #cececfaa;
    --secondary_bg: #30303080;
    --hover_bg: white;
    --hover_fg: #030c0c;
}

/* EDIT ENDS */

* {
    box-sizing: border-box;
}

body {
    font-family: "iosevka",monospace;
    height: 100vh;
    background: var(--main_bg);
    color: var(--main_fg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.greet {
    font-size: 1.25em;
}

.odkazy {
    display: grid;
    grid-template-columns: repeat(var(--rows),1fr);
    gap: 1em;
}



.container {
    background: ;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    text-align: center;
    transition: 250ms;
	
}
.container-france {
    background-image: url("france.jpg");
	background-size: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    text-align: center;
    transition: 250ms;
	color: #202020;
}
.container-italy {
	background-image: url("italie.jpg");
	background-size: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    text-align: center;
    transition: 250ms;
	color: #009246; 
}
.container-angleterre {
	background-image: url("Angleterre.png");
	background-size: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    text-align: center;
    transition: 250ms;
	color: #202020; 
}
.container-Etats-unis {
	background-image: url("etats.jpg");
	background-size: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    text-align: center;
    transition: 250ms;
	color: #202020; 
}
.container-Canada{
	background-image: url("canada.png");
	background-size: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    text-align: center;
    transition: 250ms;
	color: #202020; 
}
.container-Espagne{
	background-image: url("espagne.png");
	background-size: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    text-align: center;
    transition: 250ms;
	color: #202020; 
}

.container:hover {
    transform: translateY(-8px);
}


.title {
    color: #000000;
	font-size: 1.25em;
}

.odkaz {
    display: block;
    color:#000000;
    transition: 250ms;
    border-radius: 0.25em;
    text-decoration: none;
}

.odkaz:hover {
    color: var(--hover_fg);
    background: var(--hover_bg);
}
